<div class="container my-5">
  <div class="table-responsive">
    <!-- Tabella visibile su schermi medi e grandi -->
    <table class="table table-borderless responsive-table text-center">
      <thead>
        <tr>
          <th scope="col">Risorse</th>
          <th scope="col">Assistenza</th>
          <th scope="col">Azienda</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Gift card</td>
          <td>Hai bisogno di aiuto?</td>
          <td>Informazioni su Nike</td>
        </tr>
        <tr>
          <td>Trova un negozio</td>
          <td>Stato ordine</td>
          <td>News</td>
        </tr>
        <tr>
          <td>Nike Journal</td>
          <td>Spedizione e consegna</td>
          <td>Lavora con noi</td>
        </tr>
        <tr>
          <td>Diventa un membro</td>
          <td>Resi</td>
          <td>Investitori</td>
        </tr>
        <tr>
          <td>Codici promozionali</td>
          <td>Opzioni di pagamento</td>
          <td>Sostenibilità</td>
        </tr>
        <tr>
          <td>Feedback</td>
          <td>Contattaci</td>
          <td>Obiettivo</td>
        </tr>
        <tr>
          <td></td>
          <td>Recensioni</td>
          <td></td>
        </tr>
      </tbody>
    </table>

    <!-- Dropdown menu visibile su dispositivi mobili -->
    <div class="dropdown-section">
      <!-- Dropdown Risorse -->
      <div class="dropdown mb-3">
        <button
          class="btn btn-outline-dark w-100"
          type="button"
          id="dropdownRisorse"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          aria-haspopup="true"
        >
          Risorse
        </button>
        <ul class="dropdown-menu w-100" aria-labelledby="dropdownRisorse">
          <li><a class="dropdown-item" href="#">Gift card</a></li>
          <li><a class="dropdown-item" href="#">Trova un negozio</a></li>
          <li><a class="dropdown-item" href="#">Nike Journal</a></li>
          <li><a class="dropdown-item" href="#">Diventa un membro</a></li>
          <li><a class="dropdown-item" href="#">Codici promozionali</a></li>
          <li><a class="dropdown-item" href="#">Feedback</a></li>
        </ul>
      </div>

      <!-- Dropdown Assistenza -->
      <div class="dropdown mb-3">
        <button
          class="btn btn-outline-dark w-100"
          type="button"
          id="dropdownAssistenza"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          aria-haspopup="true"
        >
          Assistenza
        </button>
        <ul class="dropdown-menu w-100" aria-labelledby="dropdownAssistenza">
          <li><a class="dropdown-item" href="#">Hai bisogno di aiuto?</a></li>
          <li><a class="dropdown-item" href="#">Stato ordine</a></li>
          <li><a class="dropdown-item" href="#">Spedizione e consegna</a></li>
          <li><a class="dropdown-item" href="#">Resi</a></li>
          <li><a class="dropdown-item" href="#">Opzioni di pagamento</a></li>
          <li><a class="dropdown-item" href="#">Contattaci</a></li>
          <li><a class="dropdown-item" href="#">Recensioni</a></li>
        </ul>
      </div>

      <!-- Dropdown Azienda -->
      <div class="dropdown mb-3">
        <button
          class="btn btn-outline-dark w-100"
          type="button"
          id="dropdownAzienda"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          aria-haspopup="true"
        >
          Azienda
        </button>
        <ul class="dropdown-menu w-100" aria-labelledby="dropdownAzienda">
          <li><a class="dropdown-item" href="#">Informazioni su Nike</a></li>
          <li><a class="dropdown-item" href="#">News</a></li>
          <li><a class="dropdown-item" href="#">Lavora con noi</a></li>
          <li><a class="dropdown-item" href="#">Investitori</a></li>
          <li><a class="dropdown-item" href="#">Sostenibilità</a></li>
          <li><a class="dropdown-item" href="#">Obiettivo</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
