<div class="container my-5">
  <div class="text-center">
    <h4>Scegli come desideri pagare</h4>
    <div class="row justify-content-center">
      <div class="col-12 col-md-5 p-2 my-5">
        <p>Pagamento come member con spedizione gratuita</p>
        <p>Usa le credenziali di accesso Member Nike</p>
        <button
          type="button"
          class="btn btn-dark w-100 mt-3"
          routerLink="/login"
        >
          Accedi
        </button>
        <button
          type="button"
          class="btn btn-dark w-100 mt-2"
          routerLink="/registrazione"
        >
          Registrati
        </button>
      </div>
      <div class="col-12 col-md-5 p-2 my-5">
        <p>Pagamento come utente non registrato</p>
        <p>
          Puoi creare un profilo Member Nike gratuito direttamente al momento
          del pagamento.
        </p>
        <button
          type="button"
          class="btn btn-dark w-100 mt-3"
          routerLink="/consegna"
        >
          Pagamento per utenti non registrati
        </button>
      </div>
    </div>
  </div>
</div>
